{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if user.is_authenticated %}
            <span id="current-user" data-username="{{ user.username }}" style="display:none;"></span>
        {% endif %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
            <div class="container-fluid d-flex justify-content-between align-items-center w-100">
                
                <!-- Left: Brand and Links -->
                <div class="d-flex align-items-center gap-3">
                <a class="navbar-brand mb-0" href="{% url 'index' %}">Network</a>
                <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="#" id="following-link">Following</a>
                {% endif %}
                </div>

                <!-- Right: Auth Links -->
                <div class="d-flex align-items-center gap-3">
                {% if user.is_authenticated %}
                    <span class="nav-link mb-0"><strong>{{ user.username }}</strong></span>
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
                </div>

            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        {% block script %}{% endblock %}
    </body>
</html>